body {
	background-color: #EEEEEE;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
a {
	text-decoration: none;
	color: red;
}
#MainContentWrapper {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#Footer {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	display: block;
	text-align: center;
}

/* Main Menu */
.MainMenuButton {
	width: 400px;
	height: 93px;
	background-color: red;
	font-size: 24pt;
	margin-bottom: 20px;
	padding-top: 57px;
	margin-left: auto;
	margin-right: auto;
}
.MainMenuButtonLabel {
	text-align: center;
	color: white;
	text-decoration: none;
}
.MainMenuLink {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}


/* Software and Web Development Page CSS */
#Content {
	color: white;
}
#Content .projectWrapper {
	background-color: #4E4E4E;
	width: 980px;
	height: 380px;
	padding-top: 10px;
	margin-left: 10px;
	position: relative;
	margin-top: 10px	
}
#Content .projectWrapper p{
	padding: 0;
	margin-left: 10px;
}
#Content .projectTitle {
	background-color: #313230;
	width: 585px;
	height: 30px;
	margin-left: 10px;
	position: absolute;
	top: 10px;
}
#Content .projectTitle h3 {
	margin: 0;
	padding-top: 3px;
	padding-left: 10px; 
}

#Content .projectStage {
	background-color: #313230;
	width: 370px;
	height: 30px;
	position: absolute;
	top: 10px;
	left: 600px;

}
#Content .projectStage h4 {
	display: inline-block;
	margin: 0;
	margin-left: 10px;
	margin-top: 5px;
}

#Content .projectLanguage {
	background-color: #313230;
	width: 585px;
	height: 40px;
	margin-left: 10px;
	position: absolute;
	top: 45px;
}
#Content .projectLanguage h4 {
	display: inline-block;
	margin: 0;
	margin-left: 10px;
	margin-top: 9px;
}

#Content .projectButtons {
	background-color: #313230;
	width: 370px;
	height: 40px;
	position: absolute;
	top: 45px;
	left: 600px;
}
#Content .projectButtons a {
	/* Forces colour change from default red */
	color: #ffffff;
}
#Content .projectButtons ul {
	font-size: 18px;
	margin: 0;
	padding: 0;
	list-style: none;
}
#Content .projectButtons ul li {
	display: inline-block;
}
#Content .projectButtons ul li a {
	display: block;
	text-decoration: none;
	padding: 9px 15px 9px 15px;
	margin-right: 1px;
	white-space: nowrap;
}
#Content .projectButtons ul li a:hover {
	background: #0F5476
}
#Content .projectButtons ul li a[href="#"]{
	text-decoration: line-through;
}

#Content .projectDescription {
	background-color: #313230;
	width: 585px;
	height: 290px;
	margin-left: 10px;
	position: absolute;
	top: 90px;
}
#Content .projectDescription h4 {
	margin: 0;
	margin-top: 5px;
	margin-left: 10px
}
#Content .projectDescription p {
	padding: 0;
	margin-left: 10px;
	margin-right: 10px;
}

#Content .projectPicture {
	background-color: #313230;
	width: 370px;
	height: 290px;
	position: absolute;
	top: 90px;
	left: 600px;
}
#Content .projectPicture img {
	margin-left: 5px;
	margin-top: 5px;
	border: none;
}
#Content .projectPicture p {
	font-size: 9pt;
	padding-top: 2px;
}