body {
	background-color: #EEEEEE;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
a {
	text-decoration: none;
	color: red;
}

#Footer {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	display: block;
	text-align: center;
}

/* Main Menu */
.MainMenuButton {
	width: 400px;
	height: 93px;
	background-color: red;
	font-size: 24pt;
	margin-bottom: 20px;
	padding-top: 57px;
	margin-left: auto;
	margin-right: auto;
}
.MainMenuButtonLabel {
	text-align: center;
	color: white;
	text-decoration: none;
}
